body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:425px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1212 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1213_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:849px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:60px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1213 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:0px;
  width:413px;
  height:849px;
  display:flex;
}
#u1213 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1213_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1214 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1215_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:30px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:60px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1215 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:103px;
  width:6px;
  height:30px;
  display:flex;
}
#u1215 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1215_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1216_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:60px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:60px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1216 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:6px;
  height:60px;
  display:flex;
}
#u1216 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1216_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1217_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:60px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:60px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1217 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:239px;
  width:6px;
  height:60px;
  display:flex;
}
#u1217 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1217_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1218_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:60px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:60px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1218 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:160px;
  width:6px;
  height:60px;
  display:flex;
}
#u1218 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1218_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1219_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(245, 245, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1219 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:75px;
  width:375px;
  height:667px;
  display:flex;
}
#u1219 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1219_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1220 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1221_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:8px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1221 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:42px;
  width:80px;
  height:8px;
  display:flex;
}
#u1221 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1221_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u1222 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:42px;
  width:8px;
  height:8px;
  display:flex;
}
#u1222 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1222_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u1223 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:768px;
  width:60px;
  height:60px;
  display:flex;
}
#u1223 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1223_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:603px;
}
#u1224 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:139px;
  width:376px;
  height:603px;
  display:flex;
}
#u1224 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1224_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1225 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1226 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1227_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(27, 130, 210, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1227 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:75px;
  width:375px;
  height:64px;
  display:flex;
}
#u1227 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1227_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u1228 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:81px;
  width:360px;
  height:11px;
  display:flex;
}
#u1228 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1228_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1229_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Normal', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
}
#u1229 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:105px;
  width:76px;
  height:25px;
  display:flex;
  font-family:'PingFang SC Normal', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
}
#u1229 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1229_text {
  border-width:0px;
  white-space:nowrap;
}
